<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение задачи</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div>
        <form  method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Изменить</button>
            <a href="{% url 'tasks:index' %}">
                <button class="btn btn-secondary" type="button">Отмена</button>
            </a>
        </form>
    </div>
</body>
</html>